<app-header></app-header>
<div class="game-content">
  <app-game-cell coordinate="a1" (onclick)="move($event)"></app-game-cell>
  <app-game-cell coordinate="a2" (onclick)="move($event)"></app-game-cell>
  <app-game-cell coordinate="a3" (onclick)="move($event)"></app-game-cell>
  <app-game-cell coordinate="b1" (onclick)="move($event)"></app-game-cell>
  <app-game-cell coordinate="b2" (onclick)="move($event)"></app-game-cell>
  <app-game-cell coordinate="b3" (onclick)="move($event)"></app-game-cell>
  <app-game-cell coordinate="c1" (onclick)="move($event)"></app-game-cell>
  <app-game-cell coordinate="c2" (onclick)="move($event)"></app-game-cell>
  <app-game-cell coordinate="c3" (onclick)="move($event)"></app-game-cell>
</div>
<div class="refresh-content">
  <img src="/icons/refresh_icon.png" alt="refresh" title="REFRESH" (click)="handleRefresh()">
</div>