/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgHeader: #000000;
    --bgPrimary: #010101;
    --ftPrimaty: #ddd;
    --gray-700: #c5c5c5;
    --gray-500: #5a5a5a;
    --black-300: #222;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bgPrimary);
    color: var(--ftPrimaty);
}

img{
    filter: invert(100%);
}